*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

@font-face {
    font-family: "Comfortaa";
    src: url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap);
}

@font-face {
    font-family: "M PLUS Rounded 1c";
    src: url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
}

body {
    background: #F5F5F7;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 84px;
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    border-radius: 10px;
    padding: 20px 64px;
    box-shadow:1px 1px 50px 10px #afafaf;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a {
            font-size: 30px;
            font-weight: bold;
            font-family:"Comfortaa";
            color:#5f6366;
            img{
                width: 50px;
                height:50px;
            }
        
        }
        h4{
            font-size: 30px;
            font-weight: bold;
            color:#535252;
        } 
        &:nth-child(2)
        {
            h4 {
                font-family: "Comfortaa";
            }
        }
        &:last-child
        {
            h4 {
                color:#0e7a9b ;
                font-size: 23px;
                font-weight: 500;
            }
        }
       
}
}

main{
    
    width: 100vw;
    margin-top: 84px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa';
    h1{ 
        font-size: 60px;
        font-weight: bold;
        font-family:"Comfortaa";
        color:#2b2b2b;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

.rectangle {
        background-color:#660099 ; /* Цвет прямоугольника */
        width: 1600px; /* Ширина прямоугольника */
        height: 300px; /* Высота прямоугольника */
        border-radius: 10px;
        display: flex;
        justify-content: left;
        align-items:flex-end ;

        h2{
            font-size: 30px;
            font-family:"M PLUS Rounded 1c";
            color:#ffffff;
            bottom: 0; /* Прижимаем текст к нижней границе */
            left: 0; /* Размещаем текст слева */
        }
    }
    h3{
        font-size: 30px;
        font-weight: bold;
        font-family:"Comfortaa";
        color:#2b2b2b;
        display: flex;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        font-family:"Comfortaa";
        color:#555555;
        display: flex;
    }

 
.container {
        display: flex;
        justify-content: space-between
    }
    p{
        font-family:"M PLUS Rounded 1c";
        margin: 35px 45px ;
}

.cvet1{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#660099 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.cvet2{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#8843ae ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.cvet3{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#a872c2 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.cvet4{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#c6a0d7 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.cvet5{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#e3cfeb ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.cvet6{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#ffffff ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}


.ser1{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#660099;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.ser2{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#6f2b95;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.ser3{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#764390 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.ser4{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#7b598b ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.ser5{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#7e6d86 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}
.ser6{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#808080 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
}

   

.tem1{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#660099 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.tem2{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#520c79;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.tem3{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#3f105a;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.tem4{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#2c103c ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.tem5{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#1b0c21 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}
.tem6{
    width: 160px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    background-color:#000000 ;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    color:#f0f0f0 ;
}

.split{
    display: flex;
    
}

t{
    font-family:"M PLUS Rounded 1c";
}

.com1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.com2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #339900;
    text-align: center; 
    margin-right: 195px;
    color: #ffffff;
}

.spl1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.spl2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #7f9900;
    text-align: center; 
    margin-right: 195px;
}
.spl3 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #00991a;
    color:#f0f0f0 ;
    text-align: center; 
    margin-right: 195px;
}

.tr1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.tr2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #996600;
    text-align: center; 
    margin-right: 195px;
}
.tr3 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #009966;
    color:#f0f0f0 ;
    text-align: center; 
    margin-right: 195px;
}

.tet1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.tet2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #991900;
    text-align: center; 
    margin-right: 195px;
}
.tet3 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #339900;
    color:#f0f0f0 ;
    text-align: center; 
    margin-right: 195px;
}
.tet4 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #007f99;
    color:#f0f0f0 ;
    text-align: center; 
}

.anc1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.anc2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color:#7f9900;
    text-align: center; 
    margin-right: 195px;
}
.anc3 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #339900;
    color:#f0f0f0 ;
    text-align: center; 
    margin-right: 195px;
}
.anc4 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #00991a;
    color:#f0f0f0 ;
    text-align: center; 
}

.an1 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #660099;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.an2 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #99007f;
    text-align: center; 
    margin-right: 195px;
}
.an3 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #990033;
    text-align: center; 
    margin-right: 195px;
    color:#f0f0f0 ;
}
.an4 {
    width: 250px ; /* Ширина каждого прямоугольника */
    height: 90px; /* Высота каждого прямоугольника */
    flex-shrink: 0; /* Запрещаем изменение размера */
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(44, 44, 44, 0.5);
    background-color: #991900;
    text-align: center; 
}
.split > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
}



footer {
    width: 100%;
    background-color: #929292; 
    color: rgb(44, 44, 44); 
    padding: 30px; /* Поля вокруг содержимого */
    bottom: 0; /* Привязка футера к низу окна браузера */
    border-top-left-radius: 10px; /* Закругление верхнего левого угла */
    border-top-right-radius: 10px;
}

.container {
    text-align: left; /* Выравнивание текста по центру */
}